<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:kb= "http://www.kanmars.cn/kb"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.kanmars.cn/kb http://www.kanmars.cn/kb.xsd
       ">
    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="cn.kanmars.client"/>
    <kb:client id="clientd" basepackage="cn.kanmars.client"/>
    <kb:properties id="getAesKeyFromSpring" value="123456"/>
    <!--
    <kb:server id="kbserver2" bindip="0.0.0.0" bindport="9988" minthreadpool="5" maxthreadpool="150" register="ccc" basepackage="cn.kanmars.service" />
    -->
</beans>